.TrailerWrapper div{
    display: flex;
}

.Trailer {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.28px;
    text-align: left;
    color: #747474;
}

.Open {
    display: flex;
}

.Closed {
    max-height: 0px;
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Play {
        height: 40px;
    }

    .Video {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


    .Play {
        height: 40px;
    }

    .Video {
        overflow-y: hidden;
        max-height: 500px; /* approximate max height */

        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
